{% extends "base.html" %}

{% block content %}
<section class="container-horizontal">
  <div class="box">
    <img src="assets/images/brigit_et_komit_transparent.png" alt="Logo" class="logo">
  </div>

  <div class="box message-accueil">
    <p>
    La forge des communs numériques éducatifs, ou LaForgeEdu, est un espace collaboratif de création et de partage de logiciels et de ressources éducatives libres conçus majoritairement par et pour les enseignants.
    </p>

    <p>
    Applications en ligne, sites web pédagogiques… les projets de la forge couvrent tous les niveaux dans de nombreuses disciplines. Ils sont libres : cela signifie qu'on peut non seulement les utiliser sans obstacles mais aussi y contribuer.
    </p>

    <p>
    Les projets de la forge ont souvent la même histoire : celle d'un professeur ayant développé une ressource numérique utile à ses élèves et qui l'offre en partage à ses pairs. Soutenue par l'institution, la forge fédère et valorise ces projets en les aidant à faire communauté et à passer à l'échelle.
    </p>
  </div>

  <div class="box container-vertical">
    <div class="box box-colored-big">
      <p><a href=https://primtux.fr/>PrimTux</a>, <a href=https://coopmaths.fr/alea/>MathALÉA</a> et <a href=https://codex.forge.apps.education.fr/>CodEx</a> sont 3 exemples de projets parmi plus de 2000 que comptent <a href=https://docs.forge.apps.education.fr/console/>aujourd'hui</a> la forge.
      </p>
      <a href="cartographie" class="inner-box">
        <span class="twemoji">{% include ".icons/material/folder-open.svg" %}</span>
        Plus de projets
      </a>
    </div>

    <div class="box box-colored-big">
      <p>Nous vous invitons à rejoindre la communauté de la forge sur notre <b><a href=https://tchap.gouv.fr/#/room/!fnVhKrpqraWfsSirBK:agent.education.tchap.gouv.fr?via=agent.education.tchap.gouv.fr&via=agent.diplomatie.tchap.gouv.fr&via=agent.collectivites.tchap.gouv.fr>forum Tchap LaForgeEdu</a></b> et à tester ensemble ses ressources sur notre <a href=https://tchap.gouv.fr/#/room/!FMbqDmwePWphQDroBV:agent.education.tchap.gouv.fr?via=agent.education.tchap.gouv.fr&via=agent.diplomatie.tchap.gouv.fr&via=agent.dinum.tchap.gouv.fr>forum TEST</a>.
      </p>
    </div>

      <a href="revue-de-presse" class="box box-colored-small">
        <span class="twemoji">{% include ".icons/material/newspaper.svg" %}</span>
        On parle de la Forge
      </a>

      <a href="https://forge.apps.education.fr/explore" class="box box-colored-small">
        <span class="twemoji">{% include ".icons/material/location-enter.svg" %}</span>
        Accéder à la forge sans authentification
      </a>
      
      <a href="https://forge.apps.education.fr/dashboard" class="box box-colored-small">
        <span class="twemoji">{% include ".icons/material/login.svg" %}</span>
        Se connecter
      </a>
  </div>

</section>


<link rel="stylesheet" href="assets/stylesheets/home.css" />

{% endblock %}
