{% extends "base.html" %}

{% block site_nav %}
{% endblock %}

{% block content %}
{{ super() }}

<ul>
  {% for item in page.parent.children | sort(attribute="url", reverse=True) %}
    {% if not item.active %}
      <li>
        <a href="{{ item.meta.link }}">{{ item.title }}</a>
        {%- if item.meta.credit %}, {{ item.meta.credit }}{% endif %}
        {%- if item.meta.more %} {{ item.meta.more }}{% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>

{% endblock %}
