.forge .article p{
    margin-bottom: 2em;
}

.logo {
  text-align: left;
  display: float;
  float: left;
}

.container-horizontal {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: auto;
}

.container-vertical {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: auto;
}

.box li {
  text-align: left;
}

.box {
    text-align: center;
    width: 100%;
    max-width: 20em;
    position: relative;
    margin-bottom: 20px;
}

.box-colored-big {
    background-color: #fff;
    padding: 0px;
    border-radius: 15px;
    border: 2px solid slategray;
}
.box-colored-big > p {
    padding: 5px 15px 5px 15px;
}

a.box-colored-small {
    transition: transform 0.3s ease;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid slategray;
}

.text-inner-box{
    margin-bottom: 2em;
}

a.inner-box {
    padding: 10px;
    transition: transform 0.3s ease;
    border-radius: 0 0 10px 10px; /* Coins inférieurs arrondis uniquement */
    margin-top: 10px;
    width: 100%;
    display: block;
}

a.inner-box,
a.box-colored-small {
  color: white;
    background-color: slategray;
}

a.inner-box:hover,
a.box-colored-small:hover {
  color: black;
  background-color: #C3C8E3;
  text-decoration: none;
}

/* Responsive Design pour téléphone */
@media (max-width: 500px) {
    .grid-container {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 100%;
        margin-bottom: 20px;
    }

}
